html {
    background-image: url('../img/space_bg.png'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

#card {
    background: white;
    position: absolute;
    width: 540px;
    height: 540px;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
    box-shadow: 0 2px 4px #888888;
    z-index: 0;
}

#header {
    text-align: center;
}

#avatar {
    margin: 90px auto 30px auto;
    height: 150px;
    border-radius: 75px;
    border: 1px solid #a5a5a5;
}

h1 {
    font-family: Baron;
    font-size: 48px;
    line-height: 40px;
}

.spacer {
    height: 1px;
    width: 40%;
    margin: 20px 30% 20px 30%;
    background-color: #a3a3a3;
}

#main {
    margin: 0 auto;
    width: 80%;
    height: 150px;
}

#main p {
    text-align: center;
}

#main p a {
    font-family: Open Sans;
    color: #a3a3a3;
    font-size: 28px;
    text-decoration: none;
    line-height: 42px;
}

#main p a:hover {
    color: #216dc6;
    text-decoration: underline;
}

#footer {
    text-align: center;
}

#footer li {
    font-family: Open Sans;
    display: inline;
}

#footer li a:link, #footer li a:visited {
    color: #a3a3a3;
    font-size: 12px;
    margin: 0 10px;
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    html {
        background-color: white;
        background-image: url('../img/space_bg_mobile.png'); 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
    }
    
    #card {
        background: none;
        width: 100%;
        box-shadow: none;
        box-shadow: none;
    }
}

@media screen and (max-height: 600px) {
    html {
        background-attachment: scroll;
    }
    #card {
        margin: 30px auto;
    }
}

@media screen and (min-width: 1821px) {
    html {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
        background-size: 100% 100%;
    }
}